<div class="header">
<center></center>
 <div class="container">
   
   <center><h1>Client List</h>
   <h2><%= link_to "Add New Client", 'clients/new' %>    <%= link_to "Main Menu", '/' %></h2></center>
 </div>
</div>

<div class="flist">
 <center><div class="container">

 <table border = 1>
 	<tr>
 		<td><h3>ID</h3></td>
 		<td><h3>Name</h3></td>
 		<td><h3>Action</h3></td>
 	</tr>
  <% @clients.each do |c| %>
  	<tr>
		<td><%= c.id %></td>
		<td><%= c.name %></td>
		<td><%= link_to "Edit", edit_client_path(c) %>  <%= link_to "Delete", client_path(c), method: :delete, data: {confirm: "Are you sure?" } %></td>
	</tr>
  
<% end %>
		</center>
 </div>
</div>