<h1><center>Projects Application</center></h1>
<h2><ceenter>Learning assignment to create Has Many to Many Associations</ceenter></h2>
<h3><li>Client List Master: <%=link_to"Client List", 'clients#index' %></li></h3>
<h3><li>Programmer List Master: <%=link_to"Programmer List", 'programmers#index' %></li></h3>
<h3><li>Project Area (for building the client/project/programmer association): <%=link_to"Project Page", 'projects#index' %></li></h3>
<h3><li>List of Projects Grouped By Programmer: <%=link_to"Programmers Project List", '/projects/projprog' %></li></h3>
<h3><li>List of Projects Grouped By Client: <%=link_to"Client Project List", '/projects/projclient' %></li></h3>
<h3><li>List of each Programmer's Clients: <%=link_to"Programmers' Clients", '/projects/progclient' %></li></h3>