<div class="header">

 <div class="container">

 </div>
</div>

<div class="form">
 <div class="container">
 
<%= form_for(@project) do |f| %>
<p>
<%=  f.label(:project_name, "Project Name") %><br>
<%= f.text_field(:project_name) %>
</p>
<p>
<%= f.label(:client_id, "Client ID") %><br>
<%= f.collection_select(:client_id, Client.all, :id, :name, :include_blank => "Please select") %><br>
</p>
<p>
 <%= f.label(:programmer_id) %><br>
 <%= f.collection_select(:programmer_id, Programmer.all, :id, :name, :include_blank => "Please select") %>
</p>
<p>
 <%= f.submit "Save Changes" %>
</p>
 <% end %>  
  </div>
</div>