<div class="header">
<center></center>
 <div class="projprogh">
   
   <center><h1>Programmers Project List</h>
   <h2><%= link_to "Add New Project", '/projects/new' %>    <%=link_to"Project Page", '/projects' %>    <%= link_to "Main Menu", '/' %></h2></center>
 </div>
</div>

<div class="projectslist">
 <div class="container">
 
<% Project.all.order(programmer_id: :asc).group_by(&:programmer_id).each do |programmer, project| %>
<% pmfind = Programmer.find(programmer) %>
  	  <h3>Programmer <% programmer %>: <%= pmfind.name %><br></h3>
       <% project.each do |project| %>
         <li><%= project.project_name %><br></li>
       <% end %>
<% end %>
		
 </div>
</div>

